body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #ffa751, #ffe259);
}

.navbar {
    background-color: rgb(143, 41, 41) !important; /* Use !important to ensure it overrides Bootstrap's styles */
}

.container-custom {
    height: 5%;
    max-width: 850px;
    max-height: 500px;
    margin-right: 45%;
    margin-left: 5%;
    margin-top: 3%;
    position: absolute;
    background-color: #fada26;
}

.active {
    color: #2b2a2a;
}

.navbar-custom .navbar-nav .nav-link {
    color: #ffffff; /* Change the color to your desired color code */
  }

.carousel-item img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

h3 {
    margin-top: 1%;
}

.carousel-caption {
    left: 61% !important;
    color: black;
}

.navbar-search {
    margin-right: auto;
  }
.navbar-search .form-control {
    margin-right: 5px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register {
    width: 500px;
    padding: 30px;
    background: rgb(143, 41, 41);
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #2b2a2a;
}



.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: rgb(143, 41, 41);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #fada26;
    font-family: 'calibri';
    font-size: 18px;
    
}

input{
    color: white;
}

#nombres::placeholder{
    color:rgb(190, 190, 190);
}

#telefono::placeholder{
    color:rgb(190, 190, 190);
}

#correo::placeholder{
    color:rgb(190, 190, 190);
}

#message::placeholder{
    color:rgb(190, 190, 190);
}
