<button class="img-button position-carrito">
    <img src="{% static 'images/compra-white.png' %}" alt="" class="img-carrito">
  </button>
  <!-- Aquí va el Carrito de Compras -->
  <div class="container caja-carrito hidden">
    <!-- fila de info base del carrito -->
    <div class="row" style="margin-top: 20px;">
      <!-- Columna de Item -->
      <div class="col-4 ms-5">
        <p class="info-items-caja-carrito borde">ITEM</p>
      </div>
      <!-- Columna de Precio -->
      <div class="col-3">
        <p class="info-items-caja-carrito borde">PRECIO</p>
      </div>
      <!-- Columna de Cantidad -->
      <div class="col">
        <p class="info-items-caja-carrito borde">CANTIDAD</p>
      </div>
    </div>
    <!-- fin de fila de info -->

     <!-- Inicio de fila de items -->
    <div class="productos-carrito">
      <div class="row row-producto borde">
        <!-- Columna de Item -->
        <div class="col-1">
          <img class="item-carrito foto d-flex" src="{% static 'images/producto_01.png' %}" alt="">
        </div>
        <div class="col-4 ms-2 d-flex">
          <p class="item-carrito center-text">Aceite de Motor Castrol Edge Sintetico 5W30 1L</p>
        </div>
        <!-- Columna de Precio -->
        <div class="col-2 d-flex">
          <span class="item-carrito precio center-text">$14.000</span>
        </div>
        <!-- Columna de Cantidad -->
        <div class="col-2 ms-5 d-flex">
          <input type="number" class="form-controls black cantidad " value="1">
        </div>
        <div class="col col-boton-quitar d-flex">
          <button type="button" class="btn btn-danger btn-quitar">Quitar</button>
        </div>
      </div>
    </div>
    <!-- Fin de Fila de Items -->
    
    <!-- FILA DE TOTAL -->
    <div class="row fila-total-carro">
      <div class="col-7">

      </div>
      <div class="col">
        <b></b><H4>Total</H4></b>
      </div>
      <div class="col">
        <span class="monto-total" style="color: grey;">$9.990</span>
      </div>
    </div>
    <!-- FIN DE FILA DE TOTAL -->
  </div>