{% extends 'rayoMakween/inicio.html' %}
{% load static %}
{% block title %}Contacto{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'Styleup.css' %}">
<style>.navbar .form-control {
  font-size: 20px;
}
.container{
  display: grid;
  place-items: center;
}
</style>
{% endblock %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

    <!--Aquí comienza la pagina de contactos en sí-->
    <div class="container">
        <div class="row bg-danger rounded" style="margin-top: 17vh; box-shadow: 7px 13px 37px #2b2a2a;">
            <div class="col p-5" style="margin-left: 3%; margin-right: 3%; width: 50vh;">
                <h4 style="color: #fada26;">Formulario de contacto</h3>
                <!--Aquí comienzan los formularios con sus respectivas validaciones-->
                <form id="formContacto">
                    <div>
                        <!--text-->
                        <label for="nombres" class="form-label"></label>
                        <input type="text" class="form-controls" id="nombreContacto" placeholder="Ingrese su nombre completo" > 
                    </div>
                    <div>
                        <!--telefono-->
                        <label for="telefono" class="form-label"></label>
                        <input type="text" class="form-controls" id="telefonoContacto" placeholder="Ingrese su número de teléfono" >
                    </div>
                    <div>
                        <!--correo-->
                        <label for="correo" class="form-label"></label>
                        <input type="email" class="form-controls" id="correoContacto" placeholder="Ingrese su correo electronico" >
                    </div>
                    <div>
                        <!--selects-->
                        <select class="form-select mt-4" aria-label="Default select example" style="width: 100%; background-color: #fada26;border-radius: 4px;border: 1px solid #fada26;">
                            <option selected>Elegir tipo de servicio...</option>
                            <option value="1">Mantenimiento</option>
                            <option value="2">Desabolladura y pintura</option>
                            <option value="3">Venta de repuestos</option>
                            <option value="4">Post venta</option>
                            <option value="5">Servicio grúa 24 horas</option>
                        </select>
                    </div>
                    <div>
                        <!--text area-->
                        <label for="message" class="form-label"></label>
                        <textarea class="form-controls" id="messageContacto" rows="5" placeholder="Descripción"></textarea>
                    </div>
                    <div>
                        <input class="btn" type="submit" value="Enviar" onclick="validaContacto()" style="background-color: #fada26; width: 100%; padding: 9px; margin-top: 25px;">
                    </div>
                    <p id="warningContacto" style="margin-top: 30px; text-align: center; color: yellow;"></p>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block script %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBazugLTVR8Wes5xSVcKoTZGGpvuqJ5aPM&callback=iniciarMap"></script>
    {% endblock %}