
{% extends 'rayoMakween/inicio.html' %}
{% load static %}
{% block title %}Postular{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/postulacion.css' %}">
<style>
    .container{
        display: grid;
        place-items: left;
    }
</style>
{% endblock %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}    
    
    <!--Aquí comienza la pagina de contactos en sí-->
    <div class="container needs-validation" novalidate >
        <div class="row bg-danger rounded" style="margin-top: 17vh; box-shadow: 7px 13px 37px #2b2a2a;">
            <div class="col p-5" style="margin-left: 3%; margin-right: 3%; width: 50vh;">
                <h4 style="color: #fada26;">Formulario de postulación</h3>
                <!--Aquí comienzan los formularios con sus respectivas validaciones-->
                <form>
                    <!--RUT-->
                    <div class="row">
                      <div class="col">
                        <div>
                          <label for="rut" class="form-label"></label>
                          <h3>RUT</h3>
                          <input type="text" class="form-controls" id="rut" placeholder="ej: 20444111k" minlength="9" maxlength="10" required/> 
                          <div class="invalid-feedback">
                          </div>
                      </div>
                      </div>
                      <div class="col-8"></div>
                    </div>
                    
                    <!-- NOMBRE Y APELLIDOS -->
                    <div class="row">
                        <div class="col">
                          <div>
                            <label for="nombre" class="form-label"></label>
                            <h3>Nombre</h3>
                            <input type="text" class="form-controls" id="nombre" placeholder="Ingrese su nombre" minlength="3" maxlength="20" required>
                            <div class="invalid-feedback">
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div>
                            <label for="appaterno" class="form-label"></label>
                            <h3>Apellido Paterno</h3>
                            <input type="text" class="form-controls" id="appaterno" placeholder="Ingrese su apellido paterno" minlength="3" maxlength="20" required>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        </div>
                        <div class="col">
                          <div>
                            <label for="apmaterno" class="form-label"></label>
                            <h3>Apellido Materno</h3>
                            <input type="text" class="form-controls" id="apmaterno" placeholder="Ingrese su apellido materno" minlength="3" maxlength="20" required>
                            <div class="invalid-feedback"></div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <!-- FECHA DE NACIMIENTO -->
                          <label for="nacimiento" class="form-label"></label>
                          <h3>Fecha de nacimiento</h3>
                          <input type="date" class="form-controls" id="nacimiento" required>
                          <div class="invalid-feedback"></div>
                      </div>
                      <div class="col-8"></div>
                    </div>
                    <div class="row">
                      <!--EDAD-->
                      <div class="col">
                        <div>
                          <label for="edad" class="form-label"></label>
                          <h3>Edad</h3>
                          <input type="number" class="form-controls" id="edad" placeholder="Ingrese su edad" min="18" max="35" required>
                          <div class="invalid-feedback"></div>
                        </div>
                      </div>
                      <!--GÉNERO-->
                      <div class="col">
                        <div>
                          <br>
                          <br>
                          <select class="form-select mt-4" id="genero" aria-label="Default select example" style="width: 100%; background-color: #fada26;border-radius: 4px;border: 1px solid #fada26;" id="genero" required>
                            <option selected value="">Elegir su género</option>
                            <option value="Hombre">Masculimo</option>
                            <option value="Mujer">Femenino</option>
                            <option value="Otro">Otro</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        
                      </div>
                    </div>
                    <div class="row">
                      <!-- CORREO ELECTRÓNICO -->
                      <div class="col">
                        <div>
                          <label for="correo" class="form-label"></label>
                          <h3>Correo Electrónico</h3>
                          <input type="email" class="form-controls" id="correo" placeholder="Ingrese su Correo" required>
                          <div class="invalid-feedback">
                          </div>
                        </div>
                      </div>
                      <!--CELULAR-->
                      <div class="col">
                        <div>
                          <label for="celular" class="form-label"></label>
                          <h3>Celular</h3>
                          <input type="text" class="form-controls" id="celular" placeholder="Ingrese su celular" minlength="9" maxlength="12" required>
                          <div class="invalid-feedback">
                          </div>
                        </div>
                      </div>
                      <div class="col-4"></div>
                    </div>
                    <!-- PROFESIÓN -->
                    <div class="row">
                      <div class="col">
                        <div>
                          <label for="profesion" class="form-label"></label>
                          <h3>Profesión</h3>
                          <input type="text" class="form-controls" id="profesion" placeholder="Ingrese su Profesión" required>
                          <div class="invalid-feedback">
                          </div>
                        </div>
                      </div>
                      <div class="col-6"></div>
                    </div>
                    <!-- MOTIVACIÓN PARA POSTULAR -->
                    <div>
                        <label for="motivo" class="form-label"></label>
                        <h3>Motivo para postular al trabajo</h3>
                        <textarea class="form-controls" id="motivo" rows="5" placeholder="Ingrese el motivo de por qué quiere postular al trabajo." required minlength="2"></textarea>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <!-- ENVIAR -->
                    <div>
                      <div class="row">
                        <div class="col">
                          <div>
                            <input class="btn" type="submit" value="Enviar" style="background-color: #fada26; width: 100%; padding: 9px; margin-top: 25px;">
                          </div>
                        </div>
                        <!-- CARTA -->
                        <div class="col">
                          
                          <input id="enviarcarta" class="btn" value="Crear Carta" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #fada26; width: 100%; padding: 9px; margin-top: 25px;" onclick="carta()">
                          </button>
              
                          <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">¿Están correctos todos sus datos?</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <!-- RUT -->
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-4">
                                      <h5>RUT:</h5>
                                    </div>
                                    <div class="col" style="color: grey;">
                                      <h5 id="rrut"></h5>
                                    </div>
                                    
                                  </div>
                                </div>
                                <!-- NOMBRE COMPLETO -->
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-4">
                                      <h5>Nombre Completo:</h5>
                                    </div>
                                    <div class="col" style="color: grey;">
                                      <h5 id="rnombre"></h5>
                                    </div>
                                  </div>
                                </div>
                                <!-- FECHA DE NACIMIENTO -->
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-4">
                                      <h5>Fecha de Nacimiento:</h5>
                                    </div>
                                    <div class="col" style="color: grey;">
                                      <h5 id="rnacimiento"></h5>
                                    </div>
                                  </div>
                                </div>
                                <!-- EDAD -->
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-4">
                                      <h5>Edad:</h5>
                                    </div>
                                    <div class="col" style="color: grey;">
                                      <h5 id="redad"></h5>
                                    </div>
                                  </div>
                                </div>
                                <!-- GÉNERO -->
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-4">
                                      <h5>Género:</h5>
                                    </div>
                                    <div class="col" style="color: grey;">
                                      <h5 id="rgenero"></h5>
                                    </div>
                                  </div>
                                </div>
                                <!-- CORREO ELECTRÓNICO -->
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-4">
                                      <h5>Correo:</h5>
                                    </div>
                                    <div class="col" style="color: grey;">
                                      <h5 id="rcorreo"></h5>
                                    </div>
                                  </div>
                                </div>
                                <!-- CELULAR -->
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-4">
                                      <h5>Celular:</h5>
                                    </div>
                                    <div class="col" style="color: grey;">
                                      <h5 id="rcelular"></h5>
                                    </div>
                                  </div>
                                </div>
                                <!-- PROFESIÓN -->
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-4">
                                      <h5>Profesión:</h5>
                                    </div>
                                    <div class="col" style="color: grey;">
                                      <h5 id="rprofesion"></h5>
                                    </div>
                                  </div>
                                </div>
                                <!-- BOTÓN DE SALIDA -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    {% endblock %}