{% extends 'rayoMakween/inicio.html' %}
{% load static %}
{% block title %}Productos{% endblock %}
{% block extra_head %}
    <style>
    .navbar .form-control {
      font-size: 20px;
    }

    .card-img-top {
      width: 100%;
      min-height: 350px;
      object-fit: cover;
    }
    </style>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
    {% endblock %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block carrito %}
    <!-- BOTÓN CARRITO -->
    <button class="img-button position-carrito">
      <img src="{% static 'images/compra-white.png' %}" alt="" class="img-carrito">
    </button>
    <!-- CARRITO -->
    <div class="container caja-carrito hidden">
      <!-- fila de info base del carrito -->
      <div class="row" style="margin-top: 20px;">
        <!-- Columna de Item -->
        <div class="col-4 ms-5">
          <p class="info-items-caja-carrito borde">ITEM</p>
        </div>
        <!-- Columna de Precio -->
        <div class="col-3">
          <p class="info-items-caja-carrito borde">PRECIO</p>
        </div>
        <!-- Columna de Cantidad -->
        <div class="col">
          <p class="info-items-caja-carrito borde">CANTIDAD</p>
        </div>
      </div>
      <!-- fin de fila de info -->
  
       <!-- Inicio de fila de items -->
      <div class="productos-carrito">
        <div class="row row-producto borde">
          <!-- Columna de Item -->
          <div class="col-1">
            <img class="item-carrito foto d-flex" src="{% static 'images/producto_01.png' %}" alt="">
          </div>
          <div class="col-4 ms-2 d-flex">
            <p class="item-carrito center-text">Aceite de Motor Castrol Edge Sintetico 5W30 1L</p>
          </div>
          <!-- Columna de Precio -->
          <div class="col-2 d-flex">
            <span class="item-carrito precio center-text">$14.000</span>
          </div>
          <!-- Columna de Cantidad -->
          <div class="col-2 ms-5 d-flex">
            <input type="number" class="form-controls black cantidad " value="1">
          </div>
          <div class="col col-boton-quitar d-flex">
            <button type="button" class="btn btn-danger btn-quitar">Quitar</button>
          </div>
        </div>
      </div>
      <!-- Fin de Fila de Items -->
      
      <!-- FILA DE TOTAL -->
      <div class="row fila-total-carro">
        <div class="col-7">
  
        </div>
        <div class="col">
          <b></b><H4>Total</H4></b>
        </div>
        <div class="col">
          <span class="monto-total" style="color: grey;">$9.990</span>
        </div>
      </div>
      <!-- FIN DE FILA DE TOTAL -->
    </div>
    <!-- FIN CARRITO -->
     {% endblock %}

    {% block content %}



    <!-- Aquí están los productos -->
    <div class="container" style="margin-top: 50px;">
      <!--fila para el título-->
      <div class="row">
        <div class="col text-center mt-5">
          <h1 style="color: rgb(143, 41, 41); margin-bottom: 20px;"><b>Productos Makween</b></h1>
        </div>
      </div>

      <!--Menu de productos (Estético)-->
      <div class="row">
        <!--Lista de Productos-->
          <div class="row tienda">
            {% for producto in productos %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 productos-tienda" id="card">
              <div class="card text-bg-danger" style="height: 550px; width: 300px; margin-bottom: 15px;">
                <img src="{{ producto.imagenProducto.url }}" class="card-img-top producto-foto" alt="..." style="max-height: 65%;">
                <div class="card-body">
                  <!-- Aceite de Auto, precio: $14.000 -->
                  <h5 class="card-title">{{producto.marcaProducto}}</h5>
                  <p class="producto-nombre">{{producto.nombreProducto}}</p>
                  <span class="card-text producto-precio">$ {{producto.precioProducto}}</span>
                  <a class="btn btn-success agregar-carro">Agregar al Carro</a>
                </div>
              </div> 
            </div>
            {% endfor %}
          </div>
      </div>
    </div>
    {% endblock %}
    {% block script %}
      <script src="{% static 'js/carrito.js' %}"></script>
    {% endblock %}
    