{% extends 'rayoMakween/inicio.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="fontawesome-free-6.5.2-web/css/all.css">
    <style>
      .container{
      display: grid;
      place-items: center;
    }
    .navbar .form-control {
      font-size: 20px;
    }
    </style>
{% endblock %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

  <div class="container">
    <div class="row bg-danger rounded" style="margin-top: 17vh; box-shadow: 7px 13px 37px #2b2a2a;">
        <div class="col p-5" style="margin-left: 3%; margin-right: 3%; width: 50vh;">
            <h4 style="color: #fada26;">Formulario de registro</h3>
            <!--Aquí comienzan los formularios con sus respectivas validaciones-->
            <form id="formRegistro">
                <div>
                    <!--text-->
                    <label for="p_nombre" class="form-label"></label>
                    <input type="text" class="form-controls" id="p_nombre" placeholder="Ingrese su nombre"> 
                </div>
                <div>
                  <!--text-->
                  <label for="ap_paterno" class="form-label"></label>
                  <input type="text" class="form-controls" id="ap_paterno" placeholder="Ingrese su apellido"> 
                </div>
                <div>
                    <!--telefono-->
                    <label for="telefono" class="form-label"></label>
                    <input type="text" class="form-controls" id="telefonoContacto" placeholder="Ingrese su número de teléfono" >
                </div>
                <div>
                    <!--correo-->
                    <label for="correo" class="form-label"></label>
                    <input type="email" class="form-controls" id="correoContacto" placeholder="Ingrese su correo electronico" >
                </div>
                <div>
                  <!--password-->
                  <label for="password_1" class="form-label"></label>
                  <input type="password" class="form-controls" id="password_1" placeholder="Cree una contraseña" >
               </div>
                <div>
                  <!--password-->
                  <label for="password_2" class="form-label"></label>
                  <input type="password" class="form-controls" id="password_2" placeholder="Repita su contraseña" >
                </div>
                <div>
                    <input class="btn" type="submit" value="Enviar" onclick="validaRegistro()" style="background-color: #fada26; width: 100%; padding: 9px; margin-top: 25px;">
                </div>
                <p id="warningContacto" style="margin-top: 30px; text-align: center; color: yellow;"></p>
            </form>
        </div>
    </div>
  </div>
    {% endblock %}

    {% block script %}
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
