{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
      
      .navbar .form-control {
        font-size: 20px;
      }

      body{
        background: #ffe259;
        background: linear-gradient(to right, #ffa751, #ffe259);

      }
      
    </style>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>

    <!-- BARRA DE NAVEGACIÓN -->
    <nav class="navbar fixed-top navbar-custom py-0 navbar-expand-lg bg-body-tertiary"  style="background-color: #ffffff;">
      <div class="container-fluid" style="margin-left: 10%; margin-right: 10%;">
        <nav class="navbar bg-body-tertiary" >
          <div class="container-fluid">
            <a class="navbar-brand" href="inicio.html">
              <img src="{% static 'imagenes/iconoBlanco.png' %}" alt="Logo" width="auto" height="50" class="d-inline-block align-text-top">
            </a>
          </div>
        </nav>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="inicio.html" style="font-size: 20px; color: rgba(255, 255, 255, 0.815)">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contacto.html" style="font-size: 20px; color: rgba(255, 255, 255, 0.815);">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="trabajos.html" style="font-size: 20px; color: rgba(255, 255, 255, 0.815);">Trabajos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 20px; color: rgba(255, 255, 255, 0.815);">
                Categorías
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" style="font-size: 20px;" >Reparaciones</a></li>
                <li><a class="dropdown-item" href="#" style="font-size: 20px;" >Arreglos</a></li>
                <li><a class="dropdown-item" href="#" style="font-size: 20px;" >Mantención</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" style="font-size: 20px;" >Productos</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" style="margin-right: 30%;" role="search">
            <input class="form-control me-2 .navbar-search" style="width: auto;" type="search" placeholder="Buscar en Makween.cl" aria-label="Search">
            <button class="btn btn-outline-warning" type="submit" style="font-size: 20px; color: #ffffff;" >Buscar</button>
          </form>
          <nav class="nav-item">
            <a class="btn btn-warning" href="signin.html" style="font-size: 18px; color: black; width: max-content;">Iniciar Sesión</a>
          </nav>
        </div>
      </div>
    </nav>

    <!--Aquí empieza el código para el Login-->
    <div class="container w-75 bg-danger rounded shadow needs-validation" novalidate style="margin-top: 16vh;">
      <!--Fila con dos columnas-->
      <div class="row">
        <!--primera columna para la imagen la cual esta arriba en el style como clase .bg-->
        <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6  rounded-start">

        </div>
        <!--Columna para el login en sí-->
        <div class="col bg-white p-5 rounded-end">
          <!--Logo de la empresa-->
          <div class="text-end">
            <img src="{% static 'imagenes/icono.png' %}" width="70" alt="icono">
          </div>

          <h2 class="fw-bold text-center py-5">Bienvenido</h2>
          <!--Formularios-->
          <form class="form" id="form">
            <div class="mb-4">
              <label for="email" id="l1" class="form-label">Correo Electrónico<span class="warnings" id="warnings1"></span></label>
              <input type="email" class="form-control" name="email" id="email">
            </div>
            <div class="mb-4">
              <label for="pass" id="l2" class="form-label">Contraseña<span class="warnings" id="warnings2"></span></label>
              <input type="password" class="form-control" name="password" id="pass">
            </div>
            <div class="mb-4 form-check">
              <input type="checkbox" name="connected" class="form-check-input">
              <label for="connected" class="form-check-label">Mantenerme Conectado</label>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
              <p id="warnings3" style="text-align: center; color: red;font-size: 15px; font-family: Arial, Helvetica, sans-serif;"></p>
              <input type="submit" id="btnIni" onclick="valida()" value="Iniciar Sesión">
            </div>
            
            <div class="my-3 text-center">
              <span>¿No tienes cuenta? <a href="registro.html">Regístrate</a></span><br>
              <span><a href="#">Recuperar Contraseña</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- FOOTER DE PÁGINA -->
    <div class="container-fluid bg-danger" style="margin-top: 300px;">
      <footer class="py-5">
          <div class="row">
              <div class="col-4 md-3 d-flex align-items-center" style="padding-left: 150px;">
                    <img src="{% static 'imagenes/iconoBlanco.png' %}" alt="" width="200px"></svg>
                    <span class="mb-3 mb-md-0 text-white">© 2022 Company, Inc</span>
              </div>
              <div class="col-4 align-items-center" style="color: white;">
                <br>
                <center>
                  <h5>¿Quieres trabajar con nosotros? 
                  <br><br><a class="btn btn-outline-warning bg-warning" style="color: black;" href="formPostulacion.html" ><u>Postula Aquí!</u></a></h5>
                </center> 
              </div>            
              
              <div class="col-4 mb-3" style="color: #ffffff;">
                  <form>
                  <br>
                  <h5>¡Suscríbete para recibir Ofertas y Noticias!</h5>
                  <p>Te contactaremos al correo para mantenerte actualizado.</p>
                  <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                      <label for="newsletter1" class="visually-hidden">Correo Electrónico</label>
                      <input id="newsletter1" type="text" class="form-control" placeholder="Ingresa tu correo aquí...">
                      <button class="btn btn-primary btn-warning" type="button" style="margin-right: 250px;">Suscribirse</button>
                  </div>
                  </form>
              </div>
          </div>
      </footer>
    </div>



  <script src="{% static 'scripts/main.js' %}"></script>
</body>
</html>