{% extends 'rayoMakween/inicio.html' %}
{% load static %}
{% block title %}Iniciar Sesión{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
      .navbar .form-control {
        font-size: 20px;
      }
      .container {
        margin-top: 2%;
        margin-bottom: 50px;
        width: 1500px;
        border-radius: 12px;
        object-fit: cover;
      }
      .carousel{
        margin-top: 50px;
        padding-bottom: 2%;
      }
      input {
        color: black;
      }
      .foto-trabajos {
        object-fit: cover;
      }
    </style>
{% endblock %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

    <!--aquí empieza el apartado para los trabajos-->
    <div class="container" style="margin-top: 80px;">
      <!--fila para el título-->
      <div class="row" >
        <div class="col text-center mt-5">
          <h1 style="color: rgb(143, 41, 41)"><b>Trabajos Makween</b></h1>
        </div>
      </div>
      <!--Fila con tres columnas, una columna para cada trabajo-->
      <div class="row">
        <!--Columna responsive para las cards-->
        <div class="row row-trabajos">
          {% if es_Mecanico or tiene_AñadirTrabajo %}
          <div class="col-md-4 col-sm-12 mt-5" id="cardw">
            <div class="card text-bg-danger" style="height: 500px">
              <div class="boton-agregar card-body" style="margin-top: 100px;">
                <button href="" style="border: none; background: none;">
                  <img class='boton-agregar-img' src="{% static 'images/add-button.png' %}" 
                  alt="" data-bs-target="#añadir-trabajo" data-bs-toggle="modal">
                </button>
                <span style="font-size: 25px;">Añadir nuevo Trabajo</span>
              </div>
            </div>
          </div>
          <div class="modal fade" id="añadir-trabajo" aria-labelledby="añadir-trabajo">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 fw-bold" id="añadir-trabajo">
                    Añadir Trabajo
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="container justify-content-center">
                  <div class="row">
                    <div class="col-lg-6 col-md-12">
                      <div class="modal-body justify-content-center">
                        <div class="row">
                          <div class="col-12 col-md-6 offset-md-2">
                            <!-- PARA AGREGAR MÁS TRABAJOS -->
                            <form action="{% url 'trabajos' %}" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="mb-4">
                                <label for="floatingInput" id="l1" class="form-label">Título de Trabajo<span class="warnings" id="warnings1"></span></label>
                                <input type="text" class="form-control" name="nombreTrabajo" id="floatingInput">
                              </div>
                              <!-- <div class="mb-4">
                                <label for="floatingInput" id="l1" class="form-label">Nombre de Mecánico<span class="warnings" id="warnings1"></span></label>
                                <input type="text" class="form-control" name="nombreMecanico" id="floatingInput">
                              </div> -->
                              {% include 'common/combobox_mecanicos.html' %}
                              <div class="mb-4">
                                <label for="floatingInput" id="l1" class="form-label">Fecha<span class="warnings" id="warnings1"></span></label>
                                <input type="date" class="form-control" name="fecha" id="floatingInput">
                              </div>
                              <div class="mb-4">
                                <label for="floatingInput" id="l1" class="form-label">Observación<span class="warnings" id="warnings1"></span></label>
                                <input type="text" class="form-control" name="observacion" id="floatingInput">
                              </div>
                              <div class="mb-4">
                                <label for="floatingInput" id="l1" class="form-label">Materiales usados<span class="warnings" id="warnings1"></span></label>
                                <input type="text" class="form-control" name="materiales" id="floatingInput">
                              </div>
                              <div class="mb-4">
                                <label for="floatingInput" id="l1" class="form-label">Imagen<span class="warnings" id="warnings1"></span></label>
                                <input type="file" accept="image/png, image/jpg, image/jpeg" class="form-control" name="imagenes" id="floatingInput">
                              </div>
                              <div class="d-flex justify-content-center">
                                <input type="reset" value="Cancelar" class="btn btn-secondary">
                                <input type="submit" value="Guardar" class="btn btn-primary">
                              </div>  
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% for trabajo in todos_trabajos %}
          <div class="col-md-4 col-sm-12 mt-5" id="cardw">
            <div class="card text-bg-danger" style="height: 500px">
              <img src="{{ trabajo.imagenes.url }}" class="card-img-top foto-trabajos" alt="..." style="height: 60%;">
              <div class="card-body">
                <h5 class="card-title">{{trabajo.nombreTrabajo}}</h5>
                <p class="card-text">{{trabajo.observacion}}</p>
                <p class="card-text" style="font-size: 11px;">Trabajo realizado por: {{trabajo.nombreMecanico}}</p>
                <a href="trabajo1" class="btn btn-primary">Ver Más</a>
                {% if es_Mecanico or tiene_AñadirTrabajo %}
                {% csrf_token %}
                <button class="btn btn-secondary" data-bs-target="#modificar-trabajo" data-bs-toggle="modal">Modificar</button>
                <form action="{% url 'delete_trabajo' trabajo.idTrabajo %}" method="post" style="display:inline;">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
                {% endif %}
              </div>
            </div>
            <div class="modal fade" id="modificar-trabajo" aria-labelledby="modificar-trabajo">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5 fw-bold" id="modificar-trabajo">
                      Añadir Trabajo
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                  </div>
                  <div class="container justify-content-center">
                    <div class="row">
                      <div class="col-lg-6 col-md-12">
                        <div class="modal-body justify-content-center">
                          <div class="row">
                            <div class="col-12 col-md-6 offset-md-2">
                              <!-- PARA AGREGAR MÁS TRABAJOS -->
                              <form action="{% url 'trabajos' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-4">
                                  <label for="floatingInput" id="l1" class="form-label">Título de Trabajo<span class="warnings" id="warnings1"></span></label>
                                  <input type="text" class="form-control" name="nombreTrabajo" id="floatingInput" placeholder="{{trabajo.nombreTrabajo}}">
                                </div>
                                <!-- <div class="mb-4">
                                  <label for="floatingInput" id="l1" class="form-label">Nombre de Mecánico<span class="warnings" id="warnings1"></span></label>
                                  <input type="text" class="form-control" name="nombreMecanico" id="floatingInput">
                                </div> -->
                                {% include 'common/combobox_mecanicos.html' %}
                                <div class="mb-4">
                                  <label for="floatingInput" id="l1" class="form-label">Fecha<span class="warnings" id="warnings1"></span></label>
                                  <input type="date" class="form-control" name="fecha" id="floatingInput" value="{{trabajo.fecha}}">
                                </div>
                                <div class="mb-4">
                                  <label for="floatingInput" id="l1" class="form-label">Observación<span class="warnings" id="warnings1"></span></label>
                                  <textarea type="text" class="form-control" name="observacion" id="floatingInput" placeholder="{{trabajo.observacion}}" style=" overflow-wrap: break-word;"></textarea>
                                </div>
                                <div class="mb-4">
                                  <label for="floatingInput" id="l1" class="form-label">Materiales usados<span class="warnings" id="warnings1"></span></label>
                                  <input type="text" class="form-control" name="materiales" id="floatingInput" placeholder="{{trabajo.materiales}}">
                                </div>
                                <div class="mb-4">
                                  <label for="floatingInput" id="l1" class="form-label">Imagen<span class="warnings" id="warnings1"></span></label>
                                  <input type="file" accept="image/png, image/jpg, image/jpeg" class="form-control" name="imagenes" id="floatingInput">
                                </div>
                                <div class="d-flex justify-content-center">
                                  <input type="reset" value="Cancelar" class="btn btn-secondary">
                                  <input type="submit" value="Guardar" class="btn btn-primary">
                                </div>  
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- FIN DE MODAL DE MODIFICAR -->

          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endblock %}

    {% block script %}
    <script src="{% static 'js/combobox.js' %}"></script>
    {% endblock %}